[Unit]
Description = Java Service for page download
After network.target = page-download.service

[Service]
Type = forking
ExecStart = /usr/local/bin/page-download.sh start
ExecStop = /usr/local/bin/page-download.sh stop
ExecReload = /usr/local/bin/page-download.sh reload

[Install]
WantedBy=multi-user.target